@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body{
    font-family: 'Roboto Condensed', sans-serif;
}
body, h1,h2,h3,p,a, img{
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: .35rem;
}
h2{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
}
img{
    display: block;
    width: 100%;
}
main, footer{
    max-width: 900px;
    width: 100%;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
    -30px, 0px, 40px, rgba(0,0,0,0.1);
}

#splash{
    background-color: #fff;
}
#splash-text{
    display: flex;
    flex:0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#splash-text h2{
    color: #888;
}
#splash-image{
    background: url('./img/splash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
}

.btn{
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 3rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease;
}
.btn:hover{
    background-color: #f4f4f4;
}

#posts{
    margin-top: 5rem;
    padding-bottom: .5rem;
    text-align: center;
}
#header h2{
    color: #333;
}
.caption{    
    max-width: 640px;
    margin: auto;
    padding: 4rem 2rem;
    line-height: 1.8;
}
.caption p{
    line-height: 1.5;
    font-size: .9rem;
}




footer{
 border-radius: 6px solid #f4f4f4;
 background-color:#f4f4f4;
 color: #333;
 text-align: center;   
 padding: 4rem;
 box-sizing: border-box;
 line-height: 2.5rem;
}
footer a{
    color: #333;
}






/* Screens 500px and up */
@media (min-width: 500px){
    #splash{
        display: flex;
        height: 100%;
    }
    #splash-text, #splash-image{
        height: 100vh;
    }
    #splash-text-inner{
        margin-right: 5rem;
    }
    #splash-text-inner h1{
            font-size: 4.5rem;       
    }
    #splash-text-inner h2{
        margin-top: 2rem;
    }
    footer{
        display: flex;
        justify-content: space-between;
    }
    footer p{
        flex: 2;
    }
}